@import './base.css';
@import url(https://fonts.googleapis.com/css?family=Questrial);
@import url(https://fonts.googleapis.com/css?family=Arvo);

#app {
  display: flex;
  grid-template-columns: 1fr 1fr;
  padding: 0 2rem;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: stretch;
  width: 50rem;
}

a {
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}
